{% extends 'merchant/base_form.html.twig' %}

{% block title %}New Category{% endblock %}

{% block form_name %}Create new Category{% endblock %}
{% block form %}

    {{ include('category/_form.html.twig') }}

    <a href="{{ path('app_category_index') }}">back to list</a>
{% endblock %}
