{% extends 'store/header/base_header.html.twig' %}

{% block header %}
    <div>
        <span class="mx-1">{{ include('utils/login.html.twig') }}</span>
        <span class="mx-1">{{ include('utils/register.html.twig') }}</span>
    </div>
{% endblock %}