{% extends 'store/header/base_header.html.twig' %}

{% block header %}
    <div>
        {% if is_granted('ROLE_MERCHANT') %}
            <a class="me-1" href="{{ path('app_merchant_index') }}">admin</a>
        {% endif %}
        {{ include('utils/logout.html.twig') }}
    </div>
{% endblock %}