<nav class="navbar w-100 navbar-expand-lg bg-body-tertiary mb-3">
    <div class="container-fluid">
        <span class="navbar-brand">{{ include('utils/logo.html.twig') }}</span>
        {% block header %}{% endblock %}
        </div>
    </div>
</nav>