{% extends 'merchant/base.html.twig' %}

{% block container %}
    <div class="row">
        <div class="col-2">
            <div class="row">
                <a href="{{ path('app_product_index') }}" class="btn btn-primary my-1">Products</a>
                <a href="{{ path('app_category_index') }}" class="btn btn-primary my-1">Categories</a>
                <a href="{{ path('app_product_property_index') }}" class="btn btn-primary my-1">Product properties</a>
            </div>
        </div>
    </div>
{% endblock %}