{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="div flex-column">
        {{ include("store/header/header.html.twig") }}

        {% block container %}{% endblock %}
    </div>
</div>
{% endblock %}