{% extends 'base.html.twig' %}

{% block body %}
{{ include("store/header/header.html.twig") }}
<div class="container">
    <div class="div flex-column">

        {% block container %}{% endblock %}
    </div>
</div>
{% endblock %}